<header class="header">
  <a href="" class="logo">
    <div class="logo__container">
      <img
        class="logo__img"
        src="../../../../../assets/img/logo-transp-12.png"
        alt="Logo Modern Home Allentiac"
      />
    </div>
    <div class="logo__name">
      <h3 class="logo__firstName">LLENTIAC</h3>
      <!-- <h5 class="logo__secondName">Pisos y Revestimientos</h5> -->
    </div>
  </a>
  <nav class="nav">
    <ul class="nav__container">
      <li class="nav__item"><a href="" class="nav__link">Pisos</a></li>
      <li class="nav__item"><a href="" class="nav__link">Revestimientos</a></li>
      <li class="nav__item"><a href="" class="nav__link">Acerca de</a></li>
      <li class="nav__item"><a href="" class="nav__link">Contacto</a></li>
      <!-- <li class="nav__item"></li> -->
    </ul>
  </nav>
</header>
