@import "../../../../../constants/colors.scss";
.header {
  width: 100%;
  height: 3.6em;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  box-shadow: 0 0 10px $grey-200;
  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  max-height: 3.6em;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  &:hover .logo__container::after {
    // animation: rotate 4s linear infinite;
    background: linear-gradient(
      to top,
      $tertiary-300,
      $tertiary-200,
      $tertiary-100,
      $tertiary-200,
      $tertiary-300,
      $tertiary-300,
      $tertiary-200,
      $tertiary-100,
      $tertiary-200,
      $tertiary-300
    );
  }
  .logo__container {
    height: 50px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    &::after {
      content: "";
      width: 95%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        to top,
        $tertiary-400,
        $tertiary-300,
        $tertiary-200,
        $tertiary-300,
        $tertiary-400,
        $tertiary-400,
        $tertiary-300,
        $tertiary-200,
        $tertiary-300,
        $tertiary-400
      );
      z-index: 5;
      // border-radius: 50px;
      animation: tranlateBackground 10s linear infinite;
      transition: all 0.6s linear;
    }
    .logo__img {
      height: 50px;
      position: relative;
      z-index: 15;
    }
  }
  .logo__name {
    // padding-top: 7px;
    // margin-left: 10px;
    text-align: center;
    .logo__firstName,
    .logo__secondName {
      font-family: "season";
      color: white;
      letter-spacing: 3px;
      line-height: 1;
      padding-bottom: 2px;
      padding-left: 1px;
      margin-bottom: 7px;
    }
    .logo__firstName {
      position: relative;
      font-size: 22px;
      padding-top: 9px;
      // &::after {
      //   content: "";
      //   width: 50%;
      //   height: 1px;
      //   background-color: $tertiary-400;
      //   position: absolute;
      //   top: 0px;
      //   right: 3px;
      // }
      &::after {
        content: "";
        width: 97%;
        height: 1px;
        background-color: $tertiary-400;
        position: absolute;
        bottom: 0px;
        left: 3px;
      }
    }
    .logo__secondName {
      font-size: 10px;
    }
  }
}
@keyframes tranlateBackground {
  100% {
    transform: translateY(-55px);
  }
}
.nav {
  .nav__container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    .nav__item {
      .nav__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $grey-200;
        position: relative;
        padding: 7px 10px;
        margin: 0 5px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: "lato-bold";
        &:hover {
          color: $white;
          &::after {
            width: 100%;
          }
        }
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: ".";
          color: transparent;
          background: $tertiary-500;
          height: 1px;
          transition: all 0.5s;
        }
      }
    }
  }
}
