$white: #fafafa;
$black: #050505;

$primary-50: #ecf1fc;
$primary-100: #d1ddf7;
$primary-200: #b2c6f2;
$primary-300: #93afed;
$primary-400: #7b9ee9;
$primary-500: #648de5;
$primary-600: #5c85e2;
$primary-700: #527ade;
$primary-800: #4870da;
$primary-900: #365dd3;

$secondary-50: #fdedeb;
$secondary-100: #fad2ce;
$secondary-200: #f6b5ad;
$secondary-300: #f2978c;
$secondary-400: #f08073;
$secondary-500: #ed6a5a;
$secondary-600: #eb6252;
$secondary-700: #e85748;
$secondary-800: #e54d3f;
$secondary-900: #e03c2e;

$tertiary-50: #fce8c5;
$tertiary-100: #ffe4b3;
$tertiary-200: #ffd280;
$tertiary-300: #ffbf4d;
$tertiary-400: #ffb226;
$tertiary-500: #ffa400;
$tertiary-600: #ff9c00;
$tertiary-700: #ff9200;
$tertiary-800: #ff8900;
$tertiary-900: #ff7800;

$grey-50: #f0efef;
$grey-100: #dad7d7;
$grey-200: #c2bcbc;
$grey-300: #a9a1a1;
$grey-400: #968d8d;
$grey-500: #847979;
$grey-600: #7c7171;
$grey-700: #716666;
$grey-800: #675c5c;
$grey-900: #544949;

$alert-100: #fbbbbb;
$alert-200: #f88b8b;
$alert-400: #ff5151;
$alert-700: #ff3737;
