<ngb-carousel
  *ngIf="covers"
  [showNavigationArrows]="true"
  [showNavigationIndicators]="false"
  [interval]="7000"
  [pauseOnFocus]="false"
  [pauseOnHover]="false"
>
  <ng-template ngbSlide *ngFor="let cover of covers">
    <div class="picsum-img-wrapper">
      <img [src]="cover.imagen" alt="Random slide" class="home__imgSlide" />
    </div>
    <div class="carousel-caption">
      <h3>No mouse navigation</h3>
      <p>This carousel hides navigation arrows and indicators.</p>
    </div>
  </ng-template>
</ngb-carousel>
