/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: lato;
  src: url(assets/fonts/lato/Lato-Regular.ttf) format("opentype");
}
@font-face {
  font-family: lato-bold;
  src: url(assets/fonts/lato/Lato-Bold.ttf) format("opentype");
}
@font-face {
  font-family: lato-italic;
  src: url(assets/fonts/lato/Lato-LightItalic.ttf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}
